<div class="center-login">
  <form  action="submit" [formGroup]='resetPasswordForm' (ngSubmit)="resetPassword(resetPasswordForm.value)"  class="form-signin ">
    <img [src]="appLogo" alt="Logo" class="logo">
    <alert type="danger" *ngIf="errorMsg && errorMsg.length">
      {{errorMsg}}
    </alert>
    <alert type="success" *ngIf="successMsg && successMsg.length">
      {{successMsg}}
    </alert>
    <p class="font-small text-center" *ngIf="!isTokenValid">Return to <a href="javascript:void(0);" (click)="redirectToLogin()" class="color-green">Sign in.</a>

    <div *ngIf="isTokenValid">
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" [formControl]="resetPasswordForm.controls['password']">
        <p *ngIf="resetPasswordForm.controls['password'].touched && !resetPasswordForm.controls['password'].pristine && resetPasswordForm.controls['password'].hasError('required')" class="error-msg"> {{messages['SIGNUP_PASSWORD_REQUIRED']}} </p>
        <p *ngIf="resetPasswordForm.controls['password'].touched && !resetPasswordForm.controls['password'].pristine && resetPasswordForm.controls['password'].hasError('invalidFormat') && !resetPasswordForm.controls['password'].hasError('required')" class="error-msg"> {{messages['PASSWORD_INVALID_FORMAT']}} </p>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Re-Enter Password</label>
            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Re-Enter Password" [formControl]="resetPasswordForm.controls['confirmPassword']">
            <p *ngIf="resetPasswordForm.controls['confirmPassword'].touched && !resetPasswordForm.controls['confirmPassword'].pristine && resetPasswordForm.controls['confirmPassword'].hasError('matchPassword')" class="error-msg"> {{messages['CONFIRM_PASSWORD_MATCH']}} </p>
        </div>
        <p>Your password must be at least 8 to 32 characters, including at least one uppercase, lowercase, and digit.</p>
        <button class="btn btn-primary" [disabled]="!resetPasswordForm.valid" type="submit">Submit</button>
        <p class="font-small text-center">Return to <a href="javascript:void(0);" (click)="redirectToLogin()" class="color-green">Sign in.</a>
    </div>
  </form>
</div>
