<div class="center-form">
  <form action="submit" [formGroup]='changePasswordForm' (ngSubmit)="changePassword(changePasswordForm.value)" class="form-signin ">
    <alert type="danger" *ngIf="errorMsg && errorMsg.length">
      {{errorMsg}}
    </alert>
    <alert type="success" *ngIf="successMsg && successMsg.length">
      {{successMsg}}
    </alert>
    <p class="forgot-password">Your password must be at least 8 to 32 characters, including at least one uppercase, lowercase, and digit.</p>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Old Password</label>
      <input type="password" id="oldPassword" class="form-control" placeholder="Old Password" [formControl]="changePasswordForm.controls['oldPassword']">
      <p *ngIf="changePasswordForm.controls['oldPassword'].touched && !changePasswordForm.controls['oldPassword'].pristine && changePasswordForm.controls['oldPassword'].hasError('required')"
        class="error-msg"> {{messages['SIGNUP_PASSWORD_REQUIRED']}} </p>
      <p *ngIf="changePasswordForm.controls['oldPassword'].touched && !changePasswordForm.controls['oldPassword'].pristine && changePasswordForm.controls['oldPassword'].hasError('invalidFormat') && !changePasswordForm.controls['oldPassword'].hasError('required')"
        class="error-msg"> {{messages['PASSWORD_INVALID_FORMAT']}} </p>
    </div>
  
    <div class="form-group">
      <label for="inputPassword" class="sr-only">New Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="New Password" [formControl]="changePasswordForm.controls['password']">
      <p *ngIf="changePasswordForm.controls['password'].touched && !changePasswordForm.controls['password'].pristine && changePasswordForm.controls['password'].hasError('required')"
        class="error-msg"> {{messages['SIGNUP_PASSWORD_REQUIRED']}} </p>
      <p *ngIf="changePasswordForm.controls['password'].touched && !changePasswordForm.controls['password'].pristine && changePasswordForm.controls['password'].hasError('invalidFormat') && !changePasswordForm.controls['password'].hasError('required')"
        class="error-msg"> {{messages['PASSWORD_INVALID_FORMAT']}} </p>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Re-Enter Password</label>
      <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Re-Enter Password" [formControl]="changePasswordForm.controls['confirmPassword']">
      <p *ngIf="changePasswordForm.controls['confirmPassword'].touched && !changePasswordForm.controls['confirmPassword'].pristine && changePasswordForm.controls['confirmPassword'].hasError('matchPassword')"
        class="error-msg"> {{messages['CONFIRM_PASSWORD_MATCH']}} </p>
    </div>
    <button class="btn btn-primary" [disabled]="!changePasswordForm.valid" type="submit">Submit</button>
  </form>
</div>
